<article class="post card">
    <div class="title">
        <h1>{{title}}</h1>
    </div>
    <div class="meta">
        by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
    <div class="card-body">
        <p>
            {{content}}
        </p>
    </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

<div class="comments">
    {{#each comment}}
    <section class="comment">
        <div class="meta">
            {{comment.user.username}} on {{format_date comment.created_at}}
        </div>
        <div class="text">
            {{comment.comment_text}}
        </div>
    </section>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}